extends shared/layout
block main-content
    .category-viwer
        .category-viwer-img.hide-first
            img(src="/img/nature-1.jpg")
        .category-viwer-img.hide-second
            img(src="/img/nature-2.jpg")
        .category-viwer-img
            img(src="/img/nature-3.jpg")
        .category-viwer-img.focus
            img(src="/img/nature-4.jpg")
            .title
                h2
                    | Make a wish
        .category-viwer-img
            img(src="/img/nature-4.jpg")
        .category-viwer-img
            img(src="/img/nature-5.jpg")
        .category-viwer-img.hide-second
            img(src="/img/nature-6.jpg")
        .category-viwer-img.hide-first
            img(src="/img/nature-7.jpg")
    .main-content
        .shadow
            .main-content-form
                .services.row#services
                    .service.row.col-sm-4
                        #img.col-md-3
                            img(src="/img/icon-3.png")
                        .service-content.col-md-9
                            h3
                                | Who Am I
                            p#left
                                | Integer egestas ultricies urna vitae molestie. Donec nec facilisis nisi. Vivamus tempor feugiat velit gravida vehicula. Donec faucibus pellentesque ipsum id varius. Ut rutrum metus sed neque ultricies a dictum ante sagittis. Proin in facilisis diam. Sed placerat imperdiet purus, id sollicitudin magna pretium sit amet. Vivamus orci dolor, iaculis at volutpat eget.
                            input(type="submit" class="btn btn-sm btn-service" value="Read More")
                    .service.row.col-md-4 
                        #img.col-md-3
                            img(src="/img/icon-2.png")
                        .service-content.col-md-9
                            h3
                                | What I Do
                            p#center
                                | Nam commodo dignissim felis vitae ullamcorper. Sed volutpat velit id purus bibendum placerat. Sed porta, nulla ac interdum ullamcorper, mi orci porta eros, nec commodo ligula dolor et arcu. Quisque ullamcorper enim vel tellus rhoncus et fermentum diam congue. Phasellus eu turpis lorem, id gravida nunc. Phasellus convallis dolor sed sem dignissim.
                            input(type="submit" class="btn btn-sm btn-service" value="Read More")
                    .service.row.col-md-4
                        #img.col-md-3
                            img(src="/img/icon-1.png")
                        .service-content.col-md-9
                            h3
                                | Mission Statement
                            p#right
                                | Aliquam eleifend lacus ac tellus volutpat porttitor. Suspendisse imperdiet tortor ut tortor bibendum pulvinar. Nam est mi, accumsan sit amet vestibulum in, cursus vitae orci. Nunc varius adipiscing mi, sit amet condimentum eros fermentum sed. Nulla feugiat metus metus. Ut varius diam eu velit pulvinar semper. Vivamus aliquam malesuada libero mollis varius.
                            input(type="submit" class="btn btn-sm btn-service" value="Read More")
    .quote        
        .quote-inner
            .quote-container
                img(src="/img/quote-icon.png" class="center-block quote-img")
                span.quote-icon
                p
                    | Vivamus id feugiat ligula. Nulla facilisi. Integer lacus justo, elementum eget consequat a, molestie nec sapien. Quisque tincidunt, nunc vitae
    .main-content-grid
            .grid-container.row
                a(href="/categories/public" class="btn btn-sm-primary btn-categories-info center-block") Additional Info
                .category
                    .images.img-container
                        img(src="/img/nature-1.jpg" class="project-image")
                .category
                    .images.img-container
                        img(src="/img/nature-2.jpg")
                .category
                    .images.img-container
                        img(src="/img/nature-3.jpg")
                .category
                    .images.img-container
                        img(src="/img/nature-4.jpg")
                .category
                    .images.img-container
                        img(src="/img/nature-5.jpg")
                .category
                    .images.img-container
                        img(src="/img/nature-6.jpg")
                .category
                    .images.img-container
                        img(src="/img/nature-7.jpg")
                .category
                    .images.img-container
                        img(src="/img/nature-8.jpg")
                .category
                    .images.img-container
                        img(src="/img/nature-9.jpg")
                .category
                    .images.img-container
                        img(src="/img/nature-10.jpeg")